<div class="container layout-shadow layout-700 p-5 my-5">
  <img alt="Logo OURHOME" class="logo_ourhome mx-auto d-block" src="assets/img/color1-logo.png">

  <form #data="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit(data)" [formGroup]="form"
        class="mt-5">
    <mat-horizontal-stepper #stepper linear>
      <mat-step>
        <ng-template matStepLabel>Cuenta</ng-template>

        <div *ngIf="createPersonalAccount">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input formControlName="name" id="name" matInput name="name" type="text">
                <mat-label for="name">Nombre</mat-label>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field>
                <input formControlName="surnames" id="surnames" matInput name="surnames" type="text">
                <mat-label for="surnames">Apellidos</mat-label>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div *ngIf="!createPersonalAccount">
          <mat-form-field>
            <input formControlName="company" id="company" matInput name="company" type="text">
            <mat-label for="company">Compañia</mat-label>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input appExistEmailValidateDirective formControlName="email" id="email" matInput name="email" type="email">
          <mat-label for="email">Correo</mat-label>
          <mat-error *ngIf="form.get('email').errors !== null && form.get('email').errors['existEmail']">El email ya sea
            registrado
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" id="password" matInput name="password" type="password">
          <mat-label for="password">Contraseña</mat-label>
        </mat-form-field>

        <div class="mt-4 float-right">
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>

        <mat-form-field>
          <input formControlName="description" id="description" matInput name="description" type="text">
          <mat-label for="description">Descripción</mat-label>
        </mat-form-field>

        <div *ngIf="createPersonalAccount" class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input formControlName="phone" id="phone" matInput maxlength="9" name="phone" type="tel">
              <mat-label for="phone">Telefono</mat-label>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input formControlName="birthdate" id="birthdate" matInput name="birthdate" type="date">
              <mat-label for="birthdate">Fecha de nacimiento</mat-label>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="!createPersonalAccount">
          <mat-form-field>
            <input formControlName="phone" id="phone" matInput maxlength="9" name="phone" type="tel">
            <mat-label for="phone">Telefono</mat-label>
          </mat-form-field>
        </div>

        <div class="mt-4 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Ya hemos acabamos!</ng-template>

        <div>
          <label for="profilePicture">Imagen de perfil:</label><br>
          <input (change)="onFileChange($event)" id="profilePicture" name="profilePicture" type="file">
        </div>
        <br>

        <mat-radio-group *ngIf="createPersonalAccount" name="role">
          <label>Tipo de usuario: </label><br>

          <mat-radio-group formControlName="role" name="role">
            <div class="row">
              <div class="col-md-6">
                <mat-radio-button name="role" value="0">Busco Casa</mat-radio-button>
              </div>

              <div class="col-md-6">
                <mat-radio-button name="role" value="1">Tengo Casa</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </mat-radio-group>

        <mat-checkbox class="mt-4" formControlName="showPhone" name="showPhone">
          Mostrar teléfono para contactar
        </mat-checkbox>

        <mat-checkbox formControlName="acceptPolicy" name="acceptPolicy">
          Acepto las Condiciones del servicio y la Politica de privacidad de OURHOME
        </mat-checkbox>

        <button [disabled]="form.invalid" class="btn btn-custom btn-block w-75 mx-auto my-4" type="submit">Regístrate
        </button>

        <div class="mt-4 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <a *ngIf="createPersonalAccount" class="text-center d-block" href="/create-account-business">Crear cuenta
      professional</a>

    <a *ngIf="!createPersonalAccount" class="text-center d-block" href="/create-account">Crear cuenta personal</a>
  </form>
</div>
