<div class="container layout-shadow layout-700 p-5 my-5">
  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)" (keydown.enter)="$event.preventDefault()" class="mt-5">
    <mat-horizontal-stepper linear #stepper>
      <mat-step>
        <ng-template matStepLabel>Cuenta</ng-template>

        <div *ngIf="createPersonalAccount">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput type="text" id="name" name="name" required ngModel>
                <mat-label for="name">Nombre</mat-label>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field>
                <input matInput type="text" id="surnames" name="surnames" required
                       ngModel>
                <mat-label for="surnames">Apellidos</mat-label>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div *ngIf="!createPersonalAccount">
          <mat-form-field>
            <input matInput type="text" id="company" name="company" required
                   ngModel>
            <mat-label for="company">Compañia</mat-label>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput type="email" id="email" name="email" required ngModel>
          <mat-label for="email">Correo</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" id="password" name="password" required
                 ngModel>
          <mat-label for="password">Contraseña</mat-label>
        </mat-form-field>

        <div class="mt-4 float-right">
          <button mat-button (click)="goForwardFirst(stepper, data)" type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>

        <mat-form-field>
          <input matInput type="text" id="description" name="description" required
                 ngModel>
          <mat-label for="description">Descripción</mat-label>
        </mat-form-field>

        <div class="row" *ngIf="createPersonalAccount">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="tel" id="phone" name="phone" maxlength="9"
                     ngModel>
              <mat-label for="phone">Telefono</mat-label>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="date" id="birthdate" name="birthdate" required
                     ngModel>
              <mat-label for="birthdate">Fecha de nacimiento</mat-label>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="!createPersonalAccount">
          <mat-form-field>
            <input matInput type="tel" id="phone" name="phone" maxlength="9"
                   ngModel>
            <mat-label for="phone">Telefono</mat-label>
          </mat-form-field>
        </div>

        <div class="mt-4 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Ya hemos acabamos!</ng-template>

        <div>
          <label for="profilePicture">Imagen de perfil:</label><br>
          <input type="file" id="profilePicture" name="profilePicture"
                 required
                 (change)="onFileChange($event)">
        </div>
        <br>

        <mat-radio-group name="role" *ngIf="createPersonalAccount">
          <label>Tipo de usuario: </label><br>

          <mat-radio-group name="role" ngModel>
            <div class="row">
              <div class="col-md-6">
                <mat-radio-button name="role" value="0">Busco Casa</mat-radio-button>
              </div>

              <div class="col-md-6">
                <mat-radio-button name="role" value="1">Tengo Casa</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </mat-radio-group>

        <mat-checkbox name="showPhone" class="mt-4" ngModel required>
          Mostrar teléfono para contactar
        </mat-checkbox>

        <mat-checkbox name="acceptPolicy" required>
          Acepto las Condiciones del servicio y la Politica de privacidad de OURHOME
        </mat-checkbox>

        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto my-4">Regístrate</button>

        <div class="mt-4 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <a class="text-center d-block" href="/create-account-business" *ngIf="createPersonalAccount">Crear cuenta professional</a>

    <a class="text-center d-block" href="/create-account" *ngIf="!createPersonalAccount">Crear cuenta personal</a>
  </form>
</div>
