<div class="container div-form my-5 p-5">
  <img src="../../../assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block">

  <div class="my-3"></div>

  <p class="text-center">Se sincero en este cuestionario ya que las preguntas se usarán para encontrar a tu compañero ideal</p>

  <hr>

  <form action="#" method="">
      <div class="form-group question p-2">
          <p>¿Te gusta pasar tiempo com los compañeros de piso?</p>

          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="p1" value="1" required>Si
              </label>
          </div>

          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="p1" value="0">No
              </label>
          </div>
      </div>

      <div class="form-group question p-2">
          <p>¿Tienes algún animal de compañia?</p>

          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="p2" value="1" required>Si
              </label>
          </div>

          <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="p2" value="0">No
              </label>
          </div>
      </div>

      <div class="form-group question p-2">
        <p>¿Fumas en casa?</p>

        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="p3" value="1" required>Si
            </label>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="p3" value="0">No
            </label>
        </div>
    </div>

    <div class="form-group question p-2">
      <p>¿Limpias semanalmente?</p>

      <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="p4" value="1" required>Si
          </label>
      </div>

      <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="p4" value="0">No
          </label>
      </div>
  </div>

  <div class="form-group question p-2">
    <p>¿Te gusta hacer fiestas en casa?</p>

    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="p5" value="1" required>Si
        </label>
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="p5" value="0">No
        </label>
    </div>
  </div>

      <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4" href="/home">Guardar</button>
  </form>

</div>
