<div class="container div-form my-5 p-5">

  <h2 class="text-center">PROCESOS</h2>

  <div class="text-center" *ngIf="(user['role'] == 'search')">
    <div class="add d-inline-block" *ngFor="let process of processes | async">
      <div class="card m-3">
        <img class="card-img-top" src="{{ process['home']['urlPhotos'] }}" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            {{ process['home']['description'] }}
          </p>
          <label class="card-text">
            {{ process['home']['price'] }} €
          </label>
          <a href="/seeAdvertisement/{{ process['home']['id'] }}" class="btn btn-custom d-block">Ver anuncio
            <label *ngIf="(existeComprobarCompatibilidad(process['home']['user']['defaultTestResponses']))" class="m-0">🟢</label>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(user['role'] == 'have')">
    <div class="media border p-3 m-3" *ngFor="let user of processes">
      <img src="assets/img/a.jpg" alt="{{ user['user']['name'] }} {{ user['user']['surnames'] }}" class="mr-3 rounded-circle" style="width:60px;">
      <div class="media-body mt-2">
        <h3>
          {{ user['user']['name'] }} {{ user['user']['surnames'] }}
          -
          <i>
            {{ user['user']['email'] }}
            <span *ngIf="user['user']['phone'] !== null"> - {{ user['user']['phone'] }} </span>
          </i>
          -
          {{ user['compatibility'] }}%
          <label *ngIf="(existeComprobarCompatibilidad(user['user']['defaultTestResponses']))" class="m-0">🟢</label>
        </h3>
        <p>{{ user['answers'] }}</p>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="(user['role'] == 'business')">
    <div class="add d-inline-block" *ngFor="let home of homes">
      <div class="card m-3">
        <img class="card-img-top" src="{{ home['urlPhotos'] }}" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            {{ home['description'] }}
          </p>
          <label class="card-text">
            {{ home['price'] }} €
          </label>
          <a href="/seeRequests/{{ home['id'] }}" class="btn btn-custom d-block">Ver solicitudes</a>
        </div>
      </div>
    </div>
  </div>

</div>
