.div-form{
  max-width: 1000px !important;
}

.add {
  max-width: 380px;
}

.add .card-img, .add .card-img-top{
  height: 250px;
}

.add {
  max-width: 380px;
}

.add .card-img, .add .card-img-top{
  height: 250px;
}

h3{
  font-size: 20px;
  font-weight: normal;
}
