<div class="container-fluid text-center p-4">

    <div class="add d-inline-block" *ngFor="let home of homes | async">
      <div class="card m-3">
        <img class="card-img-top" src="{{home.urlPhotos}}" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            {{home.description}}
          </p>
          <label class="card-text">
            {{home.price}} €
          </label>
          <a href="/seeAdvertisement/{{home.id}}" class="btn btn-custom d-block">Ver anuncio
            <label *ngIf="(existeComprobarCompatibilidad(home.user.defaultTestResponses))" class="m-0">🟢</label>
          </a>
        </div>
      </div>
    </div>

  </div>
