<div class="container-fluid p-4">

  <!--
    <div class="add d-inline-block" *ngFor="let houses of houses | async">
      <div class="card m-3">
        <img class="card-img-top" src="{{houses.url_photos}}" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            {{houses.description}}
          </p>
          <p class="card-text">
            {{houses.price}} €
          </p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>

    -->

    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>


    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>

    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>

    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>

    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>
    <div class="add d-inline-block">
      <div class="card m-3">
        <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
        <div class="card-body">
          <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
          <p class="card-text">950 €</p>
          <a href="#" class="btn btn-custom">Ver anuncio</a>
        </div>
      </div>
    </div>



  </div>
