<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand title" href="#">OURHOME</a>

  <button class="navbar-toggler"
          data-target="#vertical-menu"
          data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="vertical-menu">
    <ul class="navbar-nav ml-auto">
      <div *ngIf="(user.role != undefined)" class="d-inline-flex">
        <li class="nav-item">
          <div class="dropdown">
            <button class="nav-link" data-toggle="dropdown">
              <span class="material-icons" matBadge="{{notifications.length}}" matBadgeColor="warn"
                    matBadgeSize="small">notifications</span>
            </button>

            <div class="dropdown-menu dropdown-menu-right notification overflow-auto p-0"
                 style="width: 350px; max-height: 400px">
              <div *ngFor="let notification of notifications; let i = index" class="my-4 mx-2" id="notification{{i}}">
                <button (click)="deleteNotification(notification['id'], '#notification' + i)" class="close mr-2"
                        type="button">
                  <span>&times;</span>
                </button>

                <a href="{{notification['url']}}">
                  <div class="media">
                    <div *ngIf="notification['photo'] != null" class="media-left align-center ml-2">
                      <img class="media-object" src="data:image/png;base64,{{ notification['photo'] }}"
                           style="width:60px">
                    </div>
                    <div class="media-body ml-2">
                      <p class="m-0">{{ notification['text'] }}</p>
                    </div>
                  </div>
                </a>

                <hr *ngIf="notifications.length != (i + 1)">
              </div>

              <p *ngIf="(notifications.length == 0)" class="m-2">No tienes notificaciones</p>
            </div>
          </div>
        </li>
      </div>

      <!-- Usuario Invitado -->
      <div *ngIf="(user.role == undefined)" class="d-inline-flex">
        <li class="nav-item">
          <a class="nav-link" href="/create-account">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </div>

      <!-- Usuario Busco Casa -->
      <div *ngIf="(user.role == 'search')" class="d-inline-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
             id="navbarDropdownSearch">{{user['name']}}</a>

          <div aria-labelledby="navbarDropdownSearch" class="dropdown-menu text-right">
            <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <a class="dropdown-item" href="/list-processes">Procesos</a>
            <a class="dropdown-item" href="/customTest">Cuestionario</a>
          </div>
        </li>
      </div>

      <!-- Usuario Tengo Casa -->
      <div *ngIf="(user.role == 'have')" class="d-inline-flex">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" data-toggle="dropdown"
                  id="navbarDropdownHave">{{user['name']}}</button>

          <div aria-labelledby="navbarDropdownHave" class="dropdown-menu text-right">
            <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <a class="dropdown-item" href="/see-requests">Procesos</a>
            <a class="dropdown-item" href="/edit-advertisement">Cuestionario</a>
          </div>
        </li>
      </div>

      <!-- Usuario Tengo Casa -->
      <div *ngIf="(user.role == 'business')" class="d-inline-flex">
        <li class="nav-item">
          <a class="nav-link px-3 py-2" href="/plans">{{ user['remainingPublications'] }}</a>
        </li>

        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownBusiness">
            {{user['company']}}
          </button>

          <div aria-labelledby="navbarDropdownBusiness" class="dropdown-menu text-right">
            <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <a class="dropdown-item" href="/list-processes">Procesos</a>
            <a class="dropdown-item" href="/custom-test">Cuestionario</a>
          </div>
        </li>
      </div>

      <!-- Usuario Admin -->
      <div *ngIf="(user.role == 'admin')" class="d-inline-flex">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownAdmin">
            {{user['name']}}
          </button>

          <div aria-labelledby="navbarDropdownAdmin" class="dropdown-menu text-right">
            <a class="dropdown-item" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Casas</a>
            <a class="dropdown-item" href="#">Procesos</a>
          </div>
        </li>
      </div>

      <div *ngIf="(user.role != undefined)" class="d-inline-flex">
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" href="">Logout</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
