<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand title" href="#">OURHOME</a>

  <button class="navbar-toggler"
          data-target="#vertical-menu"
          data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="vertical-menu">
    <ul class="navbar-nav ml-auto">
      <div *ngIf="(user.role != undefined)" class="d-inline-flex">
        <li class="nav-item">
          <div class="dropdown">
            <button class="nav-link dropdown-toggle" data-toggle="dropdown">🔔</button>

            <div class="dropdown-menu dropdown-menu-right overflow-auto p-0" style="width: 350px; max-height: 400px">
              <div *ngFor="let notification of notifications; let i = index" id="notification{{i}}">
                <button (click)="deleteNotification(notification['id'], '#notification' + i)" aria-label="Close"
                        class="close"
                        type="button">
                  <span aria-hidden="true">&times;</span>
                </button>

                <p class="m-2">{{ notification['content_text'] }}</p>

                <hr class="m-0">
              </div>

              <p *ngIf="(notifications == '')" class="m-2">No tienes notificaciones</p>
            </div>
          </div>
        </li>
      </div>

      <!-- Usuario Invitado -->
      <div *ngIf="(user.role == undefined)" class="d-inline-flex">
        <li class="nav-item">
          <a class="nav-link" href="/create-account">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </div>

      <!-- Usuario Busco Casa -->
      <div *ngIf="(user.role == 'search')" class="d-inline-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
             id="navbarDropdownSearch">{{user['name']}}</a>

          <div aria-labelledby="navbarDropdownSearch" class="dropdown-menu text-right">
            <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <a class="dropdown-item" href="/list-processes">Procesos</a>
            <a class="dropdown-item" href="/customTest">Cuestionario</a>
          </div>
        </li>
      </div>

      <!-- Usuario Tengo Casa -->
      <div *ngIf="(user.role == 'have')" class="d-inline-flex">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" data-toggle="dropdown"
                  id="navbarDropdownHave">{{user['name']}}</button>

          <div aria-labelledby="navbarDropdownHave" class="dropdown-menu text-right">
            <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <a class="dropdown-item" href="/see-requests">Procesos</a>
            <a class="dropdown-item" href="/edit-advertisement">Cuestionario</a>
          </div>
        </li>
      </div>

      <!-- Usuario Tengo Casa -->
      <div *ngIf="(user.role == 'business')" class="d-inline-flex">
        <li class="nav-item">
          <a class="nav-link px-3 py-2" href="/plans">{{ user['remainingPublications'] }}</a>
        </li>

        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownBusiness">
            {{user['company']}}
          </button>

          <div aria-labelledby="navbarDropdownBusiness" class="dropdown-menu text-right">
            <a class="dropdown-item" href="/profile">Mi Perfil</a>
            <a class="dropdown-item" href="/list-processes">Procesos</a>
            <a class="dropdown-item" href="/custom-test">Cuestionario</a>
          </div>
        </li>
      </div>

      <!-- Usuario Admin -->
      <div *ngIf="(user.role == 'admin')" class="d-inline-flex">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownAdmin">
            {{user['name']}}
          </button>

          <div aria-labelledby="navbarDropdownAdmin" class="dropdown-menu text-right">
            <a class="dropdown-item" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Casas</a>
            <a class="dropdown-item" href="#">Procesos</a>
          </div>
        </li>
      </div>

      <div *ngIf="(user.role != undefined)" class="d-inline-flex">
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" href="">Logout</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
