<div class="container layout-shadow layout-700 p-5 my-5">

  <img alt="Logo OURHOME" class="logo_ourhome mx-auto d-block" src="assets/img/color1-logo.png">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)" [formGroup]="form">
    <mat-form-field>
      <input formControlName="password" id="password" matInput name="password" type="password">
      <mat-label for="password">Contraseña</mat-label>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="passwordVerify" id="passwordVerify" matInput name="passwordVerify" type="password">
      <mat-label for="passwordVerify">Verificar contraseña</mat-label>
    </mat-form-field>

    <button [disabled]="form.invalid" class="btn btn-custom btn-block w-75 mx-auto my-5" type="submit">Recuperar
      contraseña
    </button>
  </form>
</div>
