<div class="container layout-shadow layout-700 p-5 my-5">

  <img alt="Logo OURHOME" class="logo_ourhome mx-auto d-block" src="assets/img/color1-logo.png">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <mat-form-field>
      <input id="password" matInput name="password" ngModel type="password">
      <mat-label for="password">Contraseña</mat-label>
    </mat-form-field>

    <mat-form-field>
      <input id="password-verify" matInput name="password-verify" type="password">
      <mat-label for="password-verify">Verificar contraseña</mat-label>
    </mat-form-field>

    <button class="btn btn-custom btn-block w-75 mx-auto mb-4" type="submit">Recuperar contraseña</button>
  </form>
</div>
