<div class="container layout-shadow layout-1000 p-5 my-5">

  <div class="my-5"></div>

  <form (ngSubmit)="onSubmitProfilePicture()">
    <div class="row mb-4">

      <div class="col-md-4">
        <h3>Foto de perfil</h3>
      </div>

      <div class="col-md-8 mb-4">
        <div class="row">
          <div class="col-md-4">
            <div *ngIf="profilePicture === undefined && user['profilePicture'] != null">
              <img alt="Profile picture" class="rounded-circle" height="150"
                   src="data:image/png;base64,{{ user['profilePicture'] }}" width="150">
            </div>

            <div *ngIf="profilePicture !== undefined">
              <img alt="Profile picture" class="rounded-circle" height="150"
                   src="{{ profilePicturePreview }}" width="150">
            </div>
          </div>

          <div class="col-md-8 mt-auto">
            <label for="profilePicture">Seleccionar imagen de perfil:</label>
            <br>
            <input (change)="onFileChange($event)" id="profilePicture" type="file">
          </div>
        </div>

        <button class="btn btn-custom d-flex ml-auto my-4" type="submit">Actualizar</button>
      </div>
    </div>
  </form>
  <hr>

  <form #data="ngForm" (ngSubmit)="onSubmitUser(data)" [formGroup]="form">
    <div class="row mb-4">

      <div class="col-md-4 mb-4">
        <h3>Datos personales</h3>
      </div>

      <div class="col-md-8 mb-4">
        <div *ngIf="(user.role === 'search' || user.role === 'have')">
          <mat-form-field>
            <input formControlName="name" id="name" matInput name="name" type="text">
            <mat-label for="name">Nombre</mat-label>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="surnames" id="surnames" matInput name="surnames" type="text">
            <mat-label for="surnames">Apellidos</mat-label>
          </mat-form-field>
        </div>

        <div *ngIf="user.role === 'business'">
          <mat-form-field>
            <input formControlName="company" id="company" matInput name="company" type="text">
            <mat-label for="company">Compañia</mat-label>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input formControlName="description" id="description" matInput name="description" type="text">
          <mat-label for="description">Descripcion</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="email" id="email" matInput name="email"
                 type="email">
          <mat-label for="email">Correo</mat-label>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" id="password" matInput name="password" type="password">
          <mat-label for="password">Contraseña</mat-label>
        </mat-form-field>

        <div *ngIf="(user.role === 'search' || user.role === 'have')" class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input formControlName="phone" id="phone" matInput maxlength="9" name="phone"
                     type="tel">
              <mat-label for="phone">Teléfono</mat-label>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input formControlName="birthday" id="birthdate" matInput name="birthdate"
                     type="date">
              <mat-label for="birthdate">Fecha de nacimiento</mat-label>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="(user.role === 'business')">
          <mat-form-field>
            <input formControlName="phone" id="phone" matInput maxlength="9" name="phone"
                   type="tel">
            <mat-label for="phone">Teléfono</mat-label>
          </mat-form-field>
        </div>
      </div>
    </div>

    <hr>

    <div class="row mb-4">
      <div class="col-md-4 mb-4">
        <h3>Comunicación con usuarios</h3>
      </div>

      <div class="col-md-8 mb-4">
        <div class="form-check">
          <div *ngIf="(user['showPhone'] == true)">
            <input [value]="1" checked class="form-check-input"
                   formControlName="showPhone" id="showPhone"
                   name="showPhone"
                   type="checkbox">
          </div>

          <div *ngIf="(user['showPhone'] == false)">
            <input [value]="0" class="form-check-input" formControlName="showPhone"
                   name="showPhone"
                   type="checkbox">
          </div>

          <label class="form-check-label" for="showPhone">
            Mostrar teléfono para contactar
          </label>
        </div>
      </div>
    </div>

    <button [disabled]="form.invalid" class="btn btn-custom btn-block w-75 mx-auto mb-4" type="submit">Actualizar
    </button>
  </form>
</div>
