body{
    /* Background pattern from Toptal Subtle Patterns */
   background: url("../img/so-white.png");
}

.navbar-custom{
    background-color: #1C3144;
}

.navbar-custom .title{
    color: white;
    font-size: 30px;
}

.form-login .title{
    color: black;
    font-size: 25px;
}

.navbar-custom .nav-link{
    color: white;
}

form{
    background-color: white;
    box-shadow: 0px 0px 10px 4px #cccccc;
    border-radius: 4px;
}

#email, #password {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #1C3144 px;
}

.btn-custom{
    background-color: #477185;
    color: white;
}

.footer{
    background-color: #477185;
}

img {
    width: 100%; 
    height: 100%;
}

.linkregistrate {
    text-decoration: none;
    color: #1C3144;
    font-size: large;
}