<div class="container div-form my-5 p-5">

    <img src="../../../assets/color1-logo.png" class="logo_ourhome mx-auto d-block">

    <div class="my-3"></div>

    <form action="#" method="">
        <!-- url_foto, descripción, precio, num_habitaciones, num_baños, direccion, metros, plantas, extras  -->

    <div class="form-group mt-5 field">
        <input type="text" placeholder=" " class="form-control" required>
        <label for="url_fotos">Url fotos</label>
    </div>

    <div class="form-group mt-5 field">
        <textarea id="descripcion" placeholder="‎‎ " class="form-control" required></textarea>
        <label for="descripcion">Descripción*</label>
    </div>

    <div class="form-group mt-5 field">
        <input type="number" id="decimal" placeholder=" " class="form-control" required>
        <label for="precio">Precio*</label>
    </div>

    <div class="form-group mt-5 field">
        <input type="number" id="num_habitaciones" placeholder=" " class="form-control">
        <label for="num_habitaciones">Numero Habitaciones</label>
    </div>

    <div class="form-group mt-5 field">
        <input type="number" id="num_baños" placeholder=" " class="form-control">
        <label for="num_baños">Numero Baños</label>
    </div>

    <div class="form-group mt-5 field">
        <input type="text" id="direccion" placeholder=" " class="form-control">
        <label for="direccion">Dirección*</label>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="form-group field">
                <input type="decimal" id="metros2" placeholder=" " class="form-control">
                <label for="metros2">Metros cuadrados</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group field">
                <input type="number" id="num_plantas" placeholder=" " class="form-control">
                <label for="num_plantas">Numero Plantas</label>
            </div>
        </div>
    </div>

    <div class="form-group my-5 field">
        <textarea id="extras" placeholder=" " class="form-control" required></textarea>
        <label for="extras">Extras*</label>
    </div>

    <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4">Siguiente</button>
    </form>
</div>
