<!DOCTYPE html>
<html lang="es">
<head>
    <title>OURHOME - Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="resources/css/styles.css">
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <a class="navbar-brand title" href="#">OURHOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra2" aria-controls="barra2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="barra2">
              <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registro</a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="my-5"></div>

          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <a class="navbar-brand title" href="#">BUSCO CASA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra2" aria-controls="barra2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="barra2">
              <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuario
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Mi Perfil</a>
                      <a class="dropdown-item" href="#">Procesos</a>
                      <a class="dropdown-item" href="#">Cuestionario</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Desconectar</a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="my-5"></div>
          
          <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <a class="navbar-brand title" href="#">TENGO CASA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra2" aria-controls="barra2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="barra2">
              <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuario
                    </a>
                    <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Mi Perfil</a>
                      <a class="dropdown-item" href="#">Procesos</a>
                      <a class="dropdown-item" href="#">Cuestionario</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Desconectar</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>

    <main class="d-flex align-items-center justify-content-center mt-5">
        
    </main>

    <footer class="footer fixed-bottom px-3 d-none d-sm-block">
        <ul class="list-unstyled text-right text-white m-1">
            <li>Arnau Colomé · Alba Fischer · Daniel Macías</li>
        </ul>
    </footer>
</body>
</html>