<div class="container div-form my-5 p-5">

    <h2 class="text-center">PROCESOS</h2>

    <div class="my-5"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="card d-inline-block m-3">
                <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">CASA</h4>
                  <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
                  <p class="card-text">950€ - Estado</p>
                  <a href="#" class="btn btn-custom">Ver anuncio</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card d-inline-block m-3">
                <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">CASA</h4>
                  <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
                  <p class="card-text">950€ - Estado</p>
                  <a href="#" class="btn btn-custom">Ver anuncio</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card d-inline-block m-3">
                <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">CASA</h4>
                  <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
                  <p class="card-text">950€ - Estado</p>
                  <a href="#" class="btn btn-custom">Ver anuncio</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card d-inline-block m-3">
                <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">CASA</h4>
                  <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
                  <p class="card-text">950€ - Estado</p>
                  <a href="#" class="btn btn-custom">Ver anuncio</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card d-inline-block m-3">
                <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">CASA</h4>
                  <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
                  <p class="card-text">950€ - Estado</p>
                  <a href="#" class="btn btn-custom">Ver anuncio</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card d-inline-block m-3">
                <img class="card-img-top" src="https://st3.idealista.com/news/archivos/styles/news_detail/public/2018-11/casa_prefabricada.jpg?sv=pX_Hqy9d&itok=kCOtbqgQ" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">CASA</h4>
                  <p class="card-text">Lorem Ipsum es simplemente texto de relleno de la industria de la impresión y la composición tipográfica. Lorem Ipsum ha sido el texto de relleno estándar de la industria desde el año 1500.</p>
                  <p class="card-text">950€ - Estado</p>
                  <a href="#" class="btn btn-custom">Ver anuncio</a>
                </div>
            </div>
        </div>
    </div>
</div>
