/* You can add global styles to this file, and also import other style files */
h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  font-size: 17px;
  font-weight: normal;
}

.layout-shadow {
  background-color: white;
  box-shadow: 0 0 10px 4px #cccccc;
  border-radius: 4px;
}

.layout-700 {
  max-width: 700px !important;
}

.layout-1000 {
  max-width: 1100px !important;
}

.layout-1800 {
  max-width: 1800px !important;
}

.logo_ourhome {
  width: 80%;
}

.btn-custom {
  background-color: #477185;
  color: white;
}

.btn-custom:hover {
  background-color: #1C3144;
  color: white;
}

.d-grid {
  display: grid;
}

mat-form-field {
  width: 100%;
  margin: 5px;
}
