<div class="container layout-shadow layout-700 p-5 my-5">

  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)">
    <mat-form-field>
      <input matInput type="email" id="email" name="email" ngModel>
      <mat-label for="email">Correo</mat-label>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type="password" id="password" name="password" ngModel>
      <mat-label for="password">Contraseña</mat-label>
    </mat-form-field>

    <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4">Login</button>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <a href="/create-account" class="d-block text-center">Regístrate</a>
      </div>

      <div class="col-md-6">
        <a href="/forgot-password" class="d-block text-center">Recuperar contraseña</a>
      </div>
    </div>
  </form>
</div>
