<div class="container div-form my-5 p-5">

  <h2 class="text-center">PROCESOS</h2>

  <div class="text-center" *ngIf="(user['role'] == 'search')">
    <div class="add d-inline-block" *ngFor="let process of processes | async">
      <div class="card m-3">
        <img class="card-img-top" *ngIf="(process['home']['urlPhotos'] != '')" src="{{ process['home']['urlPhotos'] }}" alt="Card image">
        <div class="card-body">
          <p class="card-text" *ngIf="(process['home']['description'] != '')">
            {{ process['home']['description'] }}
          </p>
          <label class="card-text">
            {{ process['home']['price'] }} €
          </label>
          <a href="/seeAdvertisement/{{ process['home']['id'] }}" class="btn btn-custom d-block">Ver anuncio
            <label *ngIf="(checkCompatibility(process['home']['user']['defaultTestResponses']))" class="m-0">🟢</label>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="(user['role'] == 'business')">
    <div class="add d-inline-block" *ngFor="let home of homes">
      <div class="card m-3">
        <img class="card-img-top" src="{{ home['urlPhotos'] }}" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            {{ home['description'] }}
          </p>
          <label class="card-text">
            {{ home['price'] }} €
          </label>
          <a href="/seeRequests/{{ home['id'] }}" class="btn btn-custom d-block">Ver solicitudes</a>
        </div>
      </div>
    </div>
  </div>

</div>
