<div *ngIf="home['photos'] != null" class="container layout-shadow layout-1000 p-5 my-5">

  <div class="carousel slide" data-ride="carousel" id="advertisementPhotos">
    <div class="carousel-inner">
      <div *ngFor="let photo of home['photos']; let x = index" class="carousel-item {{(x == 0) ? 'active' : ''}}">
        <img alt="Photos advertisement" class="d-block img-fluid" height="300" src="data:image/png;base64,{{ photo }}">
      </div>

      <a class="carousel-control-prev" data-slide="prev" href="#advertisementPhotos" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" data-slide="next" href="#advertisementPhotos" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <p class="mt-4 price">{{ home['price'] }}€</p>

    <div class="mt-4">
      <p class="title">Descripción</p>
      <p>{{ home['description'] }}</p>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="mt-5">
          <p class="title">Metros</p>
          <p>{{ home['meters'] }}</p>
        </div>

        <div class="mt-5">
          <p class="title">Plantas</p>
          <p>{{ home['floors'] }}</p>
        </div>

        <div class="mt-5">
          <p class="title">Habitaciones</p>
          <p>{{ home['bedrooms'] }}</p>
        </div>

        <div class="mt-5">
          <p class="title">Baños</p>
          <p>{{ home['bathrooms'] }}</p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="mt-5">
          <p class="title">Dirección</p>
          <iframe
            [src]="home['direction']"
            height="350"
            style="border:0"
            width="100%">
          </iframe>
        </div>
      </div>
    </div>

    <div class="mt-4 mb-5">
      <p class="title">Características</p>

      <mat-chip-list aria-label="Fish selection">
        <div *ngFor="let additional of home['characteristics']">
          <mat-chip>{{additional}}</mat-chip>
        </div>
      </mat-chip-list>
    </div>
  </div>

  <button (click)="contact()" *ngIf="(user.role == 'search')" class="btn btn-custom btn-block w-75 mx-auto mb-4"
          type="submit">Contactar
  </button>

