<div class="container layout-shadow layout-1000 p-5 my-5">

  <h2 class="text-center">PROCESOS</h2>

  <div class="text-center" *ngIf="(user['role'] == 'search')">
    <div class="add d-inline-block" *ngFor="let process of processes | async; let i = index">
      <div class="card m-3" id="process{{i}}">
        <img *ngIf="(process['home']['urlPhotos'] != '')" alt="Card image" class="card-img-top"
             src="{{ process['home']['urlPhotos'] }}">
        <div class="card-body">
          <p class="card-text" *ngIf="(process['home']['description'] != '')">
            {{ process['home']['description'] }}
          </p>
          <label class="card-text">
            {{ process['home']['price'] }} €
          </label>
          <div class="row">
            <div class="col-md-8">
              <a href="/see-advertisement/{{ process['home']['id'] }}" class="btn btn-custom m-auto d-block">Ver anuncio
                <label *ngIf="(checkCompatibility(process['home']['user']['defaultTestResponses']))" class="m-0">🟢</label>
              </a>
            </div>

            <div class="col-md-4">
              <button class="btn btn-custom m-auto d-block" (click)="deleteProcess(process['id'], 'process' + i)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="(user['role'] == 'business')">
    <div class="add d-inline-block" *ngFor="let home of homes">
      <div class="card m-3">
        <img class="card-img-top" src="{{ home['urlPhotos'] }}" alt="Card image">
        <div class="card-body">
          <p class="card-text">
            {{ home['description'] }}
          </p>
          <label class="card-text">
            {{ home['price'] }} €
          </label>
          <a href="/see-requests/{{ home['id'] }}" class="btn btn-custom d-block">Ver solicitudes</a>
        </div>
      </div>
    </div>
  </div>

</div>
