<div class="container layout-shadow layout-700 p-5 my-5">

  <img alt="Logo OURHOME" class="logo_ourhome mx-auto d-block" src="assets/img/color1-logo.png">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)" [formGroup]="form">
    <mat-form-field>
      <input formControlName="email" id="email" matInput name="email" type="email">
      <mat-label for="email">Correo</mat-label>
      <mat-error *ngIf="form.get('email').errors !== null && form.get('email').errors['existEmail']">El email no sea
        registrado
      </mat-error>
    </mat-form-field>

    <button [disabled]="form.invalid" class="btn btn-custom btn-block w-75 mx-auto my-5" type="submit">Recuperar
      contraseña
    </button>
  </form>
</div>
