<div class="container layout-shadow layout-700 p-5 my-5">
  <img alt="Logo OURHOME" class="logo_ourhome mx-auto d-block" src="assets/img/color1-logo.png">

  <form (ngSubmit)="save()" [formGroup]="form">
    <div *ngFor="let question of form.controls['questions']['controls']; let i = index" formArrayName="questions">
      <div [formGroupName]="i" class="form-group p-2">
        <mat-form-field>
          <input formControlName="question" matInput type="text">
          <mat-label class="lab">Pregunta</mat-label>
        </mat-form-field>

        <div class="form-check d-grid small-text-animation">
          <input [value]="0" class="form-check-input align-center ml-0" formControlName="correctOption" type="radio">

          <mat-form-field>
            <input formControlName="option1" matInput type="text">
            <mat-label class="lab">Respuesta A</mat-label>
          </mat-form-field>
        </div>

        <div class="form-check d-grid small-text-animation">
          <input [value]="1" class="form-check-input align-center ml-0" formControlName="correctOption" type="radio">

          <mat-form-field>
            <input formControlName="option2" matInput type="text">
            <mat-label class="lab">Respuesta B</mat-label>
          </mat-form-field>
        </div>
      </div>
      <hr>
    </div>

    <div class="row my-4">
      <div class="col-md-6">
        <button (click)="add()" [disabled]="form.invalid" class="btn btn-custom btn-block w-75 mx-auto" type="button">
          Añadir pregunta
        </button>
      </div>
      <div class="col-md-6">
        <button [disabled]="form.invalid" class="btn btn-custom btn-block w-75 mx-auto" type="submit">Guardar</button>
      </div>
    </div>
  </form>
</div>

