<div class="container layout-shadow layout-700 my-5 p-5">
  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <div class="my-3"></div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div formArrayName="questions" *ngFor="let question of form.controls['questions']['controls']; let i = index">
      <div class="form-group question p-2" [formGroupName]="i">
        <div class="field mt-3">
          <input type="text" formControlName="question" placeholder=" " class="form-control" required>
          <label class="lab">Pregunta</label>
        </div>

        <div class="form-check d-grid small-text-animation">
            <input type="radio" formControlName="correctOption" [value]="1" class="form-check-input align-checkbox ml-0" required>
          <div class="field">
            <input type="text" formControlName="option1" placeholder=" " class="form-control" required>
            <label class="lab">Respuesta A</label>
          </div>
        </div>

        <div class="form-check d-grid small-text-animation">
          <input type="radio" formControlName="correctOption" [value]="0" class="form-check-input align-checkbox ml-0">
          <div class="field">
            <input type="text" formControlName="option2" placeholder=" " class="form-control" required>
            <label class="lab">Respuesta B</label>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="row my-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-custom btn-block w-75 mx-auto" (click)="add()">Añadir pregunta</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto">Guardar</button>
      </div>
    </div>
  </form>
</div>

