<div class="container layout-shadow layout-700 p-5 my-5">
  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <form [formGroup]="form" (ngSubmit)="save()">
    <div formArrayName="questions" *ngFor="let question of form.controls['questions']['controls']; let i = index">
      <div class="form-group p-2" [formGroupName]="i">
        <mat-form-field>
          <input matInput type="text" formControlName="question" required>
          <mat-label class="lab">Pregunta</mat-label>
        </mat-form-field>

        <div class="form-check d-grid small-text-animation">
          <input type="radio" formControlName="correctOption" [value]="1"
                 class="form-check-input matInput align-checkbox ml-0" required>

          <mat-form-field>
            <input matInput type="text" formControlName="option1" required>
            <mat-label class="lab">Respuesta A</mat-label>
          </mat-form-field>
        </div>

        <div class="form-check d-grid small-text-animation">
          <input type="radio" formControlName="correctOption" [value]="0"
                 class="form-check-input matInput align-checkbox ml-0">

          <mat-form-field>
            <input matInput type="text" formControlName="option2" required>
            <mat-label class="lab">Respuesta B</mat-label>
          </mat-form-field>
        </div>
      </div>
      <hr>
    </div>

    <div class="row my-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-custom btn-block w-75 mx-auto" (click)="add()">Añadir pregunta</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto">Guardar</button>
      </div>
    </div>
  </form>
</div>

