body{
  /* Background pattern from Toptal Subtle Patterns */
  background: url("../assets/so-white.png");
}

.navbar-custom{
  background-color: #1C3144;
  color: white;
}

.navbar-custom .title{
  color: white;
  font-size: 30px;
}

.navbar-custom .nav-link{
  color: white;
}

.btn-custom{
  background-color: #477185;
  color: white;
}

.footer{
  background-color: #477185;
}
