<div class="container-fluid text-center p-4">
  <app-filter-homes [homes]="homes" (filterEvent)="getFilteredHomes($event)"></app-filter-homes>

  <div *ngFor="let home of homes">
    <div class="add {{(!home.show) ? 'd-inline-block' : 'd-none'}}">
      <div class="card m-3">
        <div *ngIf="home['photos'] != null">
          <img *ngIf="(home['photos'][0] != null)" alt="Card image"
               class="card-img-top" src="data:image/png;base64,{{ home['photos'][0] }}">
        </div>

        <div class="card-body">
          <p *ngIf="(home['description'] != '')" class="card-text" ngModel>
            {{ home['description'] }}
          </p>

          <label class="card-text" ngModel>
            {{ home['price'] }} €
          </label>

          <a class="btn btn-custom d-block" href="/see-advertisement/{{ home['id'] }}">Ver anuncio
            <label *ngIf="(checkCompatibility(home.user['defaultTestResponses']))" class="m-0">🟢</label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
