<div class="container-fluid p-4">
  <div class="container layout-shadow p-3 mb-4">
    <form #data="ngForm" (ngSubmit)="filterHomes(data)" class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input id="direction" matInput name="direction" ngModel type="text">
          <mat-label for="direction">Dirección</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-1">
        <mat-form-field>
          <input id="bedrooms" matInput name="bedrooms" ngModel type="number">
          <mat-label for="bedrooms">Habitaciones</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-1">
        <mat-form-field>
          <input id="bathrooms" matInput name="bathrooms" ngModel type="number">
          <mat-label for="bathrooms">Baños</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-1">
        <mat-form-field>
          <input id="floors" matInput name="floors" ngModel type="number">
          <mat-label for="floors">Plantas</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-1">
        <mat-form-field>
          <input id="meters" matInput name="meters" ngModel type="number">
          <mat-label for="meters">Metros</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-1">
        <mat-form-field>
          <input id="minprice" matInput name="minprice" ngModel type="number">
          <mat-label for="minprice">Min. Precio</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-1">
        <mat-form-field>
          <input id="maxprice" matInput name="maxprice" ngModel type="number">
          <mat-label for="maxprice">Max. Precio</mat-label>
        </mat-form-field>
      </div>

      <div class="col-md-2 align-self-center">
        <button class="btn btn-custom btn-block">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="container-homes text-center">
    <div *ngFor="let home of homes; let i = index" class="d-inline-block">
      <div class="card m-3 {{(home['show']) ? 'd-none' : 'd-inline-block'}}" id="home{{i}}">
        <div class="card-img-content">
          <div *ngIf="user['role'] == 'search'">
            <i (click)="removeWish(home['id']);"
               *ngIf="home['isInWishlist'] || home['isInWishlist'] | isInWishlist:user['role']:user['id']:home['id'] | async; else notIsInWishlist"
               class="card-img-button material-icons">favorite</i>
            <ng-template #notIsInWishlist><i (click)="addWish(home);" class="card-img-button material-icons">favorite_border</i>
            </ng-template>
          </div>

          <img *ngIf="(home['photos'] != null && home['photos'][0] != null)" class="card-img-top"
               src="data:image/png;base64,{{ home['photos'][0] }}">
        </div>

        <div class="card-body">
          <p *ngIf="(home['description'] != '')" class="card-text">
            {{ home['description'] }}
          </p>

          <label class="card-text">
            {{ home['price'] }} €
          </label>

          <div *ngIf="btnContent == undefined">
            <a class="btn btn-custom d-block" href="/see-advertisement/{{ home['id'] }}">Ver anuncio
              <label *ngIf="(checkCompatibility(home.user['defaultTestResponses']))" class="m-0">🟢</label>
            </a>
          </div>

          <div *ngIf="btnContent == 'list-processes-search'">
            <div class="row">
              <div class="col-md-8">
                <a class="btn btn-custom m-auto d-block" href="/see-advertisement/{{ home['id'] }}">Ver anuncio
                  <label *ngIf="(checkCompatibility(home['user']['defaultTestResponses']))" class="m-0">🟢</label>
                </a>
              </div>

              <div class="col-md-4">
                <button (click)="deleteProcess(processes[i]['id'], '#home' + i)" class="btn btn-custom m-auto d-block">
                  Eliminar
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="btnContent == 'list-processes-business'">
            <div class="row my-2">
              <div class="col-md-6">
                <a class="btn btn-custom d-block" href="/see-requests/{{ home['id'] }}">Ver solicitudes</a>
              </div>
              <div class="col-md-6">
                <a class="btn btn-custom d-block" href="/edit-advertisement/{{ home['id'] }}">Editar anuncio</a>
              </div>
            </div>
            <a class="btn btn-custom d-block" href="/see-advertisement/{{ home['id'] }}">Ver anuncio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
