body{
    /* Background pattern from Toptal Subtle Patterns */
   background: url("../img/so-white.png");
}

.navbar-custom{
    background-color: #1C3144;
}

.navbar-custom .title{
    color: white;
    font-size: 30px;
}

.navbar-custom .nav-link{
    color: white;
}

.div-form .title{
    color: black;
    font-size: 25px;
}

.div-form{
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 0px 10px 4px #cccccc;
    border-radius: 4px;
}

.div-form .logo_ourhome {
    width: 80%; 
}

.div-form input[type="email"], input[type="text"], input[type="number"], input[type="tel"], input[type="password"]{
    border: 0px;
    border-bottom: 1px #1C3144 solid;
    border-radius: 0;
}

.div-form input[type="email"]:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="password"]:focus {
    border-color: #477185;
    box-shadow: none;
}

.btn-custom{
    background-color: #477185;
    color: white;
}

.link_registrate {
    text-decoration: none;
    color: #1C3144;
    font-size: large;
}

.footer{
    background-color: #477185;
}


/* Animacion para el label https://css-tricks.com/float-labels-css/ */
/* Proyecto de codepen https://codepen.io/team/css-tricks/pen/XVBLRM */

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.lab, input {
    transition: all 0.2s;
    touch-action: manipulation;
    font-size: 12px;
}
  
input[type="email"]:placeholder-shown  + .lab, input[type="tel"]:placeholder-shown  + .lab, input[type="password"]:placeholder-shown  + .lab, input[type="text"]:placeholder-shown  + .lab, input[type="number"]:placeholder-shown + .lab {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input:not(:placeholder-shown) + .lab, input[type="email"]:focus  + .lab, input[type="tel"]:focus  + .lab, input[type="password"]:focus  + .lab, input[type="text"]:focus  + .lab, input[type="number"]:focus + .lab {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}
