<div class="container div-form my-5 p-5">

  <div class="my-5"></div>

  <form>

      <div class="row mb-4">

          <div class="col-md-4">
              <div class="form-group field">
                  <h3>Foto de perfil</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">

              <div class="row">
                  <div class="col-md-4">
                      <img src="./assets/img/b.png" class="rounded-circle" width="150px" height="150px">
                  </div>
                  <div class="col-md-8 mt-auto">
                      <div class="form-group">
                          <label for="exampleFormControlFile1">Seleccionar imagen de perfil:</label>
                          <br>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                  </div>
              </div>

          </div>
      </div>

      <hr>

      <div class="row mb-4">

          <div class="col-md-4 mb-4">
              <div class="form-group field">
                  <h3>Datos personales</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">
              <div class="form-group field">
                  <input type="text" id="name" name="name" placeholder=" " class="form-control" value="{{ user.name }}" required [(ngModel)]="name">
                  <label class="lab" for="name">Nombre</label>
              </div>

              <div class="form-group field">
                  <input type="text" id="surnames" name="surnames" placeholder=" " class="form-control" value="{{ user.surnames }}" required [(ngModel)]="surnames">
                  <label class="lab" for="surnames">Apellidos</label>
              </div>

              <div class="form-group field">
                  <input type="number" name="age" placeholder=" " class="form-control" value="{{ user.age }}" required [(ngModel)]="age">
                  <label class="lab" for="age">Edad</label>
              </div>

              <div class="form-group field">
                  <input type="email" name="email" placeholder=" " class="form-control" value="{{ user.email }}" required [(ngModel)]="email">
                  <label class="lab" for="email">Correo</label>
              </div>

              <div class="form-group field">
                  <input type="tel" name="phone" placeholder=" " class="form-control" maxlength="9" value="{{ user.phone }}" [(ngModel)]="phone">
                  <label class="lab" for="phone">Teléfono</label>
              </div>

          </div>
      </div>

      <hr>

      <div class="row mb-4">

          <div class="col-md-4 mb-4">
              <div class="form-group field">
                  <h3>Tipo de usuario</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">

            <div class="row mt-2" *ngIf="(user.role == 'tengo_casa')">
              <div class="col">
                  <input type="radio" name="role" [value]="0" required [(ngModel)]="role" checked>
                  <label for="role">&nbsp; Tengo Casa</label>
              </div>

              <div class="col">
                  <input type="radio" name="role" [value]="1" required [(ngModel)]="role">
                  <label for="role">&nbsp; Busco Casa</label>
              </div>
          </div>

          <div class="row mt-2" *ngIf="(user.role == 'busco_casa')">
            <div class="col">
              <input type="radio" name="role" [value]="0" required [(ngModel)]="role">
              <label for="role">&nbsp; Tengo Casa</label>
            </div>

            <div class="col">
              <input type="radio" name="role" [value]="1" required [(ngModel)]="role" checked>
              <label for="role">&nbsp; Busco Casa</label>
            </div>
          </div>

        </div>
      </div>

      <hr>

      <div class="row mb-4">

          <div class="col-md-4 mb-4">
              <div class="form-group field">
                  <h3>Comunicación con usuarios</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">

            <div class="form-check">

              <div *ngIf="(user.showPhone == true)">
                  <input class="form-check-input" type="checkbox" value="" name="showPhone" checked [(ngModel)]="showPhone">
              </div>

              <div *ngIf="(user.showPhone == false)">
                <input class="form-check-input" type="checkbox" value="" name="showPhone" [(ngModel)]="showPhone">
              </div>

              <label class="form-check-label" for="phone">
                Mostrar teléfono para contactar
              </label>

            </div>

          </div>

      </div>

      <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4" href="#">Actualizar</button>

  </form>
</div>
