<div class="container div-form my-5 p-5">

  <div class="my-5"></div>

  <form>

      <div class="row mb-4">

          <div class="col-md-4">
              <div class="form-group field">
                  <h3>Foto de perfil</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">

              <div class="row">
                  <div class="col-md-4">
                      <img src="../../../assets/b.png" class="rounded-circle" width="150px" height="150px">
                  </div>
                  <div class="col-md-8 mt-auto">
                      <div class="form-group">
                          <label for="exampleFormControlFile1">Seleccionar imagen de perfil:</label>
                          <br>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                  </div>
              </div>

          </div>
      </div>

      <hr>

      <div class="row mb-4">

          <div class="col-md-4 mb-4">
              <div class="form-group field">
                  <h3>Datos personales</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">
              <div class="form-group field">
                  <input type="text" id="nombre" placeholder=" " class="form-control" value="{{ user.name }}" required>
                  <label class="lab" for="nombre">Nombre</label>
              </div>

              <div class="form-group field">
                  <input type="text" id="apellidos" placeholder=" " class="form-control" value="{{ user.surnames }}" required>
                  <label class="lab" for="apellidos">Apellidos</label>
              </div>

              <div class="form-group field">
                  <input type="number" id="edad" placeholder=" " class="form-control" value="{{ user.age }}" required>
                  <label class="lab" for="edad">Edad</label>
              </div>

              <div class="form-group field">
                  <input type="email" id="correo" placeholder=" " class="form-control" value="{{ user.email }}" required>
                  <label class="lab" for="correo">Correo</label>
              </div>

              <div class="form-group field">
                  <input type="tel" id="telefono" placeholder=" " class="form-control" maxlength="9" value="{{ user.phone }}">
                  <label class="lab" for="telefono">Teléfono</label>
              </div>

          </div>
      </div>

      <hr>

      <div class="row mb-4">

          <div class="col-md-4 mb-4">
              <div class="form-group field">
                  <h3>Tipo de usuario</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">

            <div class="row mt-2" *ngIf="(user.role == 'tengo_casa')">
              <div class="col">
                  <input type="radio" id="con_casa" name="casa" value="0" required checked>
                  <label for="con_casa">&nbsp; Tengo Casa</label>
              </div>

              <div class="col">
                  <input type="radio" id="sin_casa" name="casa" value="1" required>
                  <label for="sin_casa">&nbsp; Busco Casa</label>
              </div>
          </div>

          <div class="row mt-2" *ngIf="(user.role == 'busco_casa')">
            <div class="col">
              <input type="radio" id="con_casa" name="casa" value="0" required >
              <label for="con_casa">&nbsp; Tengo Casa</label>
            </div>

            <div class="col">
              <input type="radio" id="sin_casa" name="casa" value="1" required checked>
              <label for="sin_casa">&nbsp; Busco Casa</label>
            </div>
          </div>

        </div>
      </div>

      <hr>

      <div class="row mb-4">

          <div class="col-md-4 mb-4">
              <div class="form-group field">
                  <h3>Comunicación con usuarios</h3>
              </div>
          </div>

          <div class="col-md-8 mb-4">

            <div class="form-check">

              <div *ngIf="(user.showPhone == true)">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
              </div>

              <div *ngIf="(user.showPhone == false)">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>

              <label class="form-check-label" for="defaultCheck1">
                Mostrar teléfono para contactar
              </label>

            </div>

          </div>

      </div>

      <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4" (click)="update()">Actualizar</button>

  </form>
</div>
