<div class="container div-form my-5 p-5">

  <div class="my-5"></div>

  <form (ngSubmit)="onSubmitProfilePicture()">
    <div class="row mb-4">

      <div class="col-md-4">
        <div class="form-group field">
          <h3>Foto de perfil</h3>
        </div>
      </div>

      <div class="col-md-8 mb-4">
        <div class="row">
          <div class="col-md-4">
            <img src="data:image/png;base64,{{ user['profilePicture'] }}" class="rounded-circle" width="150"
                 height="150" alt="Profile picture">
          </div>

          <div class="col-md-8 mt-auto">
            <div class="form-group">
              <label for="profilePicture">Seleccionar imagen de perfil:</label>
              <br>
              <input type="file" class="form-control-file" id="profilePicture" (change)="onFileChange($event)">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-custom d-flex ml-auto my-4">Actualizar</button>
      </div>
    </div>
  </form>
  <hr>

  <form #form="ngForm" (ngSubmit)="onSubmitUser(form)">
    <div class="row mb-4">

      <div class="col-md-4 mb-4">
        <div class="form-group field">
          <h3>Datos personales</h3>
        </div>
      </div>

      <div class="col-md-8 mb-4">
        <div class="form-group field">
          <input type="text" id="name" name="name" placeholder=" " class="form-control" required
                 [(ngModel)]="user['name']">
          <label class="lab" for="name">Nombre</label>
        </div>

        <div class="form-group field">
          <input type="text" id="surnames" name="surnames" placeholder=" " class="form-control" required
                 [(ngModel)]="user['surnames']">
          <label class="lab" for="surnames">Apellidos</label>
        </div>

        <div class="form-group field">
          <input type="text" id="description" name="description" placeholder=" " class="form-control" required
                 [(ngModel)]="user['description']">
          <label class="lab" for="description">Descripcion</label>
        </div>

        <div class="form-group field">
          <input type="number" id="age" name="age" placeholder=" " class="form-control" required
                 [(ngModel)]="user['age']">
          <label class="lab" for="age">Edad</label>
        </div>

        <div class="form-group field">
          <input type="email" id="email" name="email" placeholder=" " class="form-control" required
                 [(ngModel)]="user['email']">
          <label class="lab" for="email">Correo</label>
        </div>

        <div class="form-group field">
          <input type="password" id="password" name="password" placeholder=" " class="form-control" autocomplete="on"
                 required ngModel>
          <label class="lab" for="password">Contraseña</label>
        </div>

        <div class="form-group field">
          <input type="tel" id="phone" name="phone" placeholder=" " class="form-control" maxlength="9"
                 [(ngModel)]="user['phone']">
          <label class="lab" for="phone">Teléfono</label>
        </div>
      </div>
    </div>

    <hr>

    <div class="row mb-4">

      <div class="col-md-4 mb-4">
        <div class="form-group field">
          <h3>Comunicación con usuarios</h3>
        </div>
      </div>

      <div class="col-md-8 mb-4">

        <div class="form-check">

          <div *ngIf="(user['showPhone'] == true)">
            <input id="showPhone" name="showPhone" type="checkbox" class="form-check-input" checked [value]="1"
                   [(ngModel)]="user['showPhone']">
          </div>

          <div *ngIf="(user['showPhone'] == false)">
            <input name="showPhone" type="checkbox" class="form-check-input" [value]="0"
                   [(ngModel)]="user['showPhone']">
          </div>

          <label class="form-check-label" for="showPhone">
            Mostrar teléfono para contactar
          </label>

        </div>

      </div>

    </div>

    <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4">Actualizar</button>
  </form>
</div>
