<div class="container layout-shadow layout-700 p-5 my-5">

  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <form #data="ngForm" (ngSubmit)="save(data)">
    <div *ngFor="let question of questions let i = index" class="form-group p-2">
      <p>{{ question.question }}</p>

      <mat-radio-group name="question{{ i }}" ngModel>
        <mat-radio-button name="question{{ i }}" required value="1">{{ question.option1 }}</mat-radio-button>
        <br>
        <mat-radio-button name="question{{ i }}" value="0">{{ question.option2 }}</mat-radio-button>
      </mat-radio-group>
      <hr>
    </div>
    <button class="btn btn-custom btn-block w-75 mx-auto mb-4" type="submit">Guardar</button>
  </form>

</div>
