<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand title" href="#">OURHOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra2" aria-controls="barra2"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="barra2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <form class="form-inline">
          <input [(ngModel)]="city" name="city" class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="searchByCity()">Search</button>
        </form>
      </li>

      <!-- Usuario Invitado -->
      <div *ngIf="(role == undefined)" class="d-inline-flex">
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </div>

      <!-- Usuario Busco Casa -->
      <div *ngIf="(role == 'search')" class="d-inline-flex">
        <li class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/profile/{{ user.id }}">Mi Perfil</a>
            <a class="dropdown-item" href="/processes">Procesos</a>
            <a class="dropdown-item" href="/customTest">Cuestionario</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </div>

      <!-- Usuario Tengo Casa -->
      <div *ngIf="(role == 'have')" class="d-inline-flex">
        <li class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" href="/profile/{{ user.id }}">Mi Perfil</a>
            <a class="dropdown-item" href="/processes">Procesos</a>
            <a class="dropdown-item" href="/customTest">Cuestionario</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </div>

      <!-- Usuario Tengo Casa -->
      <div *ngIf="(role == 'business')" class="d-inline-flex">
        <li class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown4">
            <a class="dropdown-item" href="/profile/{{ user.id }}">Mi Perfil</a>
            <a class="dropdown-item" href="/processes">Procesos</a>
            <a class="dropdown-item" href="/customTest">Cuestionario</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </div>

      <!-- Usuario Admin -->
      <div *ngIf="(role == 'admin')" class="d-inline-flex">
        <li class="nav-item dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown5">
            <a class="dropdown-item" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Casas</a>
            <a class="dropdown-item" href="#">Procesos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
