<div class="container div-form my-5 p-5">
  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)" class="mt-5">
    <mat-horizontal-stepper linear #stepper>
      <mat-step>
        <ng-template matStepLabel>Cuenta</ng-template>

        <div class="form-group field">
          <input matInput type="text" id="name" name="name" placeholder=" " class="form-control" required ngModel>
          <label class="lab" for="name">Nombre*</label>
        </div>

        <div class="form-group field">
          <input matInput type="email" id="email" name="email" placeholder=" " class="form-control" required ngModel>
          <label class="lab" for="email">Correo*</label>
        </div>

        <div class="form-group field">
          <input matInput type="password" id="password" name="password" placeholder=" " class="form-control" required
                 ngModel>
          <label class="lab" for="password">Contraseña*</label>
        </div>

        <div class="mt-5 float-right">
          <button mat-button (click)="goForwardFirst(stepper, data)" type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>

        <div class="form-group field">
          <input matInput type="text" id="surnames" name="surnames" placeholder=" " class="form-control" required
                 ngModel>
          <label class="lab" for="surnames">Apellidos*</label>
        </div>

        <div class="form-group field">
          <input matInput type="text" id="description" name="description" placeholder=" " class="form-control" required
                 ngModel>
          <label class="lab" for="description">Descripción*</label>
        </div>

        <div class="form-group field">
          <input matInput type="tel" id="phone" name="phone" placeholder=" " class="form-control" maxlength="9" ngModel>
          <label class="lab" for="phone">Telefono</label>
        </div>

        <div class="form-group field">
          <input matInput type="number" id="age" name="age" placeholder=" " class="form-control" required ngModel>
          <label class="lab" for="age">Edad*</label>
        </div>

        <div class="mt-5 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Ya hemos acabamos!</ng-template>

        <div class="form-group field">
          <input type="file" id="profilePicture" name="profilePicture" placeholder=" " class="form-control" required
                 (change)="onFileChange($event)">
          <label class="lab" for="profilePicture">Imagen de perfil</label>
        </div>

        <div class="form-group mt-5 text-left">
          <label>Tipo de usuario:*</label><br>

          <div class="container">
            <div class="row">
              <div class="col">
                <input type="radio" id="role" name="role" required [value]="1" ngModel>
                <label for="role">&nbsp; Tengo Casa</label>
              </div>

              <div class="col">
                <input type="radio" name="role" required [value]="0" ngModel>
                <label for="role">&nbsp; Busco Casa</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mt-5 text-left">
          <div class="form-check">
            <input type="checkbox" id="showPhone" name="showPhone" class="form-check-input" [value]="1" ngModel>
            <label class="form-check-label" for="showPhone">
              Mostrar teléfono para contactar
            </label>
          </div>
        </div>

        <div class="form-group text-left">
          <div class="form-check">
            <input id="acceptPolicy" name="acceptPolicy" type="checkbox" class="form-check-input" required [value]="1">
            <label class="form-check-label" for="acceptPolicy">
              Acepto las Condiciones del servicio y la Politica de privacnamead de OURHOME
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto mb-4">Regístrate</button>

        <div class="mt-5 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
