<div class="container div-form my-5 p-5">
  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <div class="my-3"></div>

  <!--#data="ngForm" (ngSubmit)="save(data)"-->
  <form #data="ngForm" (ngSubmit)="save(data)" ngNativeValidate>
    <div id="container_questions">
      <div class="form-group question p-2" id="question{{ counter }}">
        <div class="form-group mt-3 field">
          <input type="text" id="questionInput{{ counter }}" name="questionInput{{ counter }}" placeholder=" " class="form-control" ngModel required>
          <label class="lab" for="questionInput{{ counter }}">Escribe tu pregunta</label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="questionRadioTrue{{ counter }}" name="questionRadio{{ counter }}" [value]="1" required ngModel>Si
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="questionRadioFalse{{ counter }}" name="questionRadio{{ counter }}" [value]="0" ngModel>No
          </label>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-md-6">
        <button type="button" class="btn btn-custom btn-block w-75 mx-auto" (click)="add()">Añadir pregunta</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto">Guardar</button> <!--(click)="save()"-->
      </div>
    </div>
  </form>
</div>

