<div class="container div-form my-5 p-5">
  <img src="../../../assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block">

  <div class="my-3"></div>

  <form action="#" method="">
    <div id="content_questions">
      <div class="form-group question p-2">
        <div class="form-group mt-3 field">
          <input type="text" id="questionInput1" placeholder=" " class="form-control" required>
          <label class="lab" for="questionInput1">Escribe tu pregunta</label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="questionRadio1" value="1" required>Si
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="questionRadio1" value="0">No
          </label>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-md-6">
        <button href="" type="button" class="btn btn-custom btn-block w-75 mx-auto" (click)="add()">Añadir pregunta</button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto">Guardar</button> <!--(click)="save()"-->
      </div>
    </div>
  </form>
</div>

