<div class="container layout-shadow layout-700 p-5 my-5">

  <img src="assets/img/color1-logo.png" class="logo_ourhome mx-auto d-block" alt="Logo OURHOME">

  <form #data="ngForm" (ngSubmit)="onSubmit(data)" (keydown.enter)="$event.preventDefault()" class="mt-5">
    <mat-horizontal-stepper linear>
      <mat-step>
        <ng-template matStepLabel>Subir fotografías</ng-template>

        <div>
          <label for="photos">Fotos:</label><br>
          <input type="file" id="photos" name="photos" multiple
                 (change)="onFileChange($event)">
        </div>

        <!-- Show preview in creation mode -->
        <div *ngIf="photos.length !== 0">
          <div class="d-inline-block" *ngFor="let photoPreview of photosPreview">
            <img src="{{photoPreview}}" width="180">
          </div>
        </div>

        <!-- Show preview in edition mode -->
        <div *ngIf="photos.length === 0 && home['photos'] != null">
          <div class="d-inline-block" *ngFor="let photo of home['photos']">
            <img src="data:image/png;base64,{{photo}}" width="180">
          </div>
        </div>

        <div class="mt-4 float-right">
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Información basicos</ng-template>

        <div class="form-group text-right" *ngIf="create === false">
          <div class="form-check">
            <input *ngIf="home['active'] == true" type="checkbox" id="active" name="active"
                   class="form-check-input matInput"
                   checked [value]="true" [(ngModel)]="home['active']">
            <input *ngIf="home['active'] == false" type="checkbox" name="active"
                   class="form-check-input matInput"
                   [value]="true" [(ngModel)]="home['active']">
            <mat-label class="form-check-mat-label" for="active">
              Activo
            </mat-label>
          </div>
        </div>

        <mat-form-field>
          <textarea matInput id="description" name="description" required
                    [(ngModel)]="home['description']"></textarea>
          <mat-label for="description">Descripción</mat-label>
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [(ngModel)]="home['direction']" id="direction" name="direction"
                     type="text">
              <mat-label for="direction">Dirección</mat-label>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="number" id="price" name="price" required
                     [(ngModel)]="home['price']">
              <mat-label for="price">Precio</mat-label>
            </mat-form-field>
          </div>
        </div>

        <div class="mt-4 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
          <button mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Información avanzados</ng-template>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="number" id="bedrooms" name="bedrooms"
                     [(ngModel)]="home['bedrooms']">
              <mat-label for="bedrooms">Numero Habitaciones</mat-label>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input [(ngModel)]="home['bathrooms']" id="bathrooms" matInput name="bathrooms"
                     type="number">
              <mat-label for="bathrooms">Numero Baños</mat-label>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="number" id="meters" name="meters"
                     [(ngModel)]="home['meters']">
              <mat-label for="meters">Metros cuadrados</mat-label>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="number" id="floors" name="floors"
                     [(ngModel)]="home['floors']">
              <mat-label for="floors">Numero Plantas</mat-label>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="w-100">
          <mat-label>Características</mat-label>
          <mat-chip-list #extraList>
            <mat-chip (removed)="remove(characteristic)" *ngFor="let characteristic of characteristics">
              {{characteristic}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input matInput [matChipInputFor]="extraList" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>

        <button type="submit" class="btn btn-custom btn-block w-75 mx-auto my-5">Publicar</button>

        <div class="mt-4 float-right">
          <button mat-button matStepperPrevious type="button">Atrás</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
