body{
  /* Background pattern from Toptal Subtle Patterns */
 background: url("../assets/img/so-white.png");
}

.navbar-custom{
  background-color: #1C3144;
}

.navbar-custom .title{
  color: white;
  font-size: 30px;
}

.navbar-custom .nav-link{
  color: white;
}

.navbar-custom input[type="search"] {
  border-radius: 5px;
  height: 38px;
}

.div-form .title{
  color: black;
  font-size: 25px;
}

.div-form{
  background-color: white;
  box-shadow: 0px 0px 10px 4px #cccccc;
  border-radius: 4px;
}

.div-form .logo_ourhome {
  width: 80%;
}

input[type="email"], input[type="text"], input[type="number"], input[type="tel"], input[type="password"], input[type="decimal"], textarea {
  border: 0px !important;
  border-bottom: 1px #1C3144 solid !important;
  border-radius: 0 !important;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="decimal"]:focus, textarea:hover {
  border-color: #477185 !important;
  box-shadow: none !important;
}

.form-control:disabled {
  background-color: white;
}

.btn-custom{
  background-color: #477185;
  color: white;
}

.btn-custom:hover {
  background-color: #1C3144;
  color: white;
}

.footer{
  background-color: #477185;
}

/* Animacion para el label https://css-tricks.com/float-labels-css/ */
/* Proyecto de codepen https://codepen.io/team/css-tricks/pen/XVBLRM */

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label, input, textarea {
  transition: all 0.2s;
  touch-action: manipulation;
  font-size: 12px;
}

input, textarea {
  font-size: 1.5em;
  border: 0;
  font-family: inherit;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus, textarea:hover {
  outline: 0;
  border-bottom: 1px solid #666;
}

input:placeholder-shown + label, textarea:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:not(:placeholder-shown) + label, input:focus + label,  textarea:not(:placeholder-shown) + label, textarea:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
